@font-face {
  font-family: Righteous;
  src: url(../fonts/Righteous-Regular.ttf);
}

body {
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  padding: 8px 16px;
  font-family: Righteous;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}

p {
  font-size: 1.1em;
}

header {
  background-color: black;
  color: salmon;
}

header h1 {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.4fr 0.6fr 1.2fr;
  gap: 10px 10px;
  max-width: 95%;
  margin: 10px auto;
  padding: 16px;
}

.results { grid-area: 1 / 1 / 4 / 2; }
.images { grid-area: 1 / 2 / 2 / 5; }
.text { grid-area: 3 / 2 / 4 / 5; }
.display { grid-area: 2 / 2 / 3 / 5; }
/* .result-list { grid-area: 2 / 1 / 4 / 2; } */
/* .img-container { grid-area: 1 / 2 / 2 / 5; } */

/* SECTIONS */
section {
  text-align: center;
  border: 5px solid salmon;
}

.section-heading {
  text-align: center;
  padding: 18px;
  font-weight: 900;
}

/* IMAGES */
div.img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 50px;
}

.img-container img {
  position: relative;
  margin: auto;
  max-width: 75%;
  border: 3px solid rgb(145, 127, 127);
  cursor: crosshair;
  box-shadow: 10px 5px 5px grey;
  transition: all .2s ease-in-out;
}

.img-container img:hover {
  box-shadow: 6px 14px 17px grey;
  transform: scale(1.1);
}

/* TEXT CONTENT AREA */
.text-content {
  text-align: justify;
  padding: 15px;
}

/* LISTS */
ul li {
  list-style: none;
  margin: 5px 32px;
  font-size: 1.2em;
  list-style: circle;
}

.result-list {
  text-align: left;
}

.hidden {
  display: none;
}

/* FORM */

/* FOOTER AREA */
footer {
  background-color: #ccc;
  padding: 16px 32px;
  padding-top: 32px;
  height: 40px;
  text-align: center;
}
